<%= form_with(url: motors_path, method: :get, data: {controller: "search-form", turbo_frame: "motors", turbo_action: "advance"}) do |form| %>

  <div class="flex space-x-3">
    <%= form.text_field :query, class: "input input-bordered input-warning w-full max-w-xs mt-5", autofocus: true, placeholder: 'Search...', data: {action: "input->search-form#search"} %> 

    <%= form.submit 'Search', class: "btn btn-warning mt-5" %>
  </div>

  <div class="my-6">
    <%= render "motors", motors: @motors %>
  </div>

  <%= link_to "New motor", new_motor_path, class: "btn btn-warning" %>

<% end %>
